{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/footer.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/login-modal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/about.css') }}">
{% endblock %}

{% block content %}
{% include "components/header.html" %}

<main class="about-page">
  <section class="brand-gallery">
    <div class="brand-box neu-raised">
      <img src="/static/images/about/brand-intro-1.png" alt="브랜드 소개 1">
      <img src="/static/images/about/brand-intro-2.png" alt="브랜드 소개 2">
      <img src="/static/images/about/brand-intro-3.png" alt="브랜드 소개 3">
      <img src="/static/images/about/brand-intro-4.png" alt="브랜드 소개 4">
      <img src="/static/images/about/brand-intro-5.png" alt="브랜드 소개 5">
    </div>
  </section>
</main>

{% include "components/footer.html" %}

{% include "components/login-modal.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/header.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/footer.js') }}"></script>
{% endblock %}
